nav {
  display: flex;
  justify-content: space-between;
  
 
  font-family: 'Bungee', cursive;
  height: 120px;
  /* width: auto; */
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;

  /* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
  /* overflow: hidden; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  
}

.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.fa-solid {
  color: red;
}