nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  height: 120px;
  width: 100%;
  background-color: #040069;
  background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
}

#arrow-icon {
  color: red;
}

#arrow-icon:hover {
  transform-origin: center top;
  transform: rotateX(-90deg) translateY(90%);
}